@import "variables";
@import "reboot";

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-light;
}

#root {
  width: 1000px;
  min-width: 800px;
  height: 100%;
  display: flex;
  padding: $padding-base 2.5rem;
  background-color: $white;
  flex-direction: column;
  gap: 1rem;

  h1 {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
  }
}
