@import "variables";
@import "reboot";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-light;
}

h1 {
  font-style: italic;
}

#root {
  width: 1000px;
  min-width: 800px;
  height: 100%;
  display: flex;
  padding: 0;
  background-color: $white;
  flex-direction: column;
  gap: 1rem;

  #header {
    padding: 0;

    #navBar {
      background-color: white;
    }
  }

  #content {
    flex: 1;
    background-color: white;

    .product-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0px 0px 10px;

      .product-card {
        width: 320px;
        height: 400px;
        margin-right: 10px;
        margin-bottom: 10px;
        box-shadow: 3px 3px 3px $gray;

        .ant-card-body {
          height: 160px;
          .ant-card-meta {
            overflow: hidden;
          }
        }
      }
    }

    .shopping-cart {
      #empty-cart {
        height: 600px;
        padding-top: 150px;
      }
    }
  }

  #footer {
    height: 100px;
    padding: 0px 20px 20px 20px;
    background-color: white;

    .custom-footer {
      background-color: white;
    }
  }
}
